body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  height: 100vh;
  background: linear-gradient(-45deg, #f7b733, #fc4a1a, #4ab1ff, #28c76f);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.container {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 2.5rem 3rem;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  text-align: center;
  color: #fff;
}

.timer {
  font-size: 5rem;
  margin: 2rem 0;
  font-weight: bold;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

button {
  font-size: 1.5rem;
  padding: 1.0rem 2.0rem;
  margin: 0.7rem 0.5rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 700;
  box-shadow: 0 6px 15px rgba(0,0,0,0.25);
  color: #fff;
  min-width: 110px;
  user-select: none;
}

button:hover {
  transform: translateY(-4px);
  opacity: 0.9;
}


#start {
  background-color: #28c76f;
}

#pause {
  background-color: #ff9f43;
}

#reset {
  background-color: #ea5455;
}
